[submodule "lognotify"]
	path = lognotify
	url = git://github.com/Mic92/lognotify.git
[submodule "vicious"]
	path = vicious
	url = git@github.com:Mic92/vicious.git
[submodule "shifty"]
	path = shifty
	url = git://github.com/bioe007/awesome-shifty.git
[submodule "menubar"]
	path = menubar
	url = https://github.com/alexander-yakushev/menubar
[submodule "awesome-themes"]
	path = awesome-themes
	url = https://github.com/mikar/awesome-themes.git
