[submodule "lognotify"]
	path = lognotify
	url = git://github.com/Mic92/lognotify.git
[submodule "vicious"]
	path = vicious
	url = git@github.com:Mic92/vicious.git
[submodule "awesome-themes"]
	path = awesome-themes
	url = https://github.com/mikar/awesome-themes.git
[submodule "utils"]
	path = utils
	url = git://github.com/Mic92/utils.git
[submodule "tyrannical"]
	path = tyrannical
	url = https://github.com/Elv13/tyrannical.git
